<a href="https://colab.research.google.com/github/rrstats/Coursework_DATA100/blob/main/DATA100_L3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

plt.style.use('fivethirtyeight')
sns.set_context("notebook")

### Reading in DataFrames from Files

File reading tools can be enumerated by typing "pd.re" and pressing tab

In [ ]:
elections = pd.read_csv("elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

### Indexing with loc, iloc and []

In [ ]:
elections.loc[0:4]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

loc is not a function! It's an operator

In [ ]:
elections.head(5)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

Go from 
**Rows** 0 to 4
and
**Columns** Year to Party

In [ ]:
elections.loc[0:4, "Year":"Party"]

   Year          Candidate                  Party
0  1824     Andrew Jackson  Democratic-Republican
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic
3  1828  John Quincy Adams    National Republican
4  1832     Andrew Jackson             Democratic

**loc selects items by label**

Arguments can be 
a list, a slice, a single value

In [ ]:
#list
elections.loc[[87, 25, 179], ["Year", "Candidate", "Result"]]

     Year             Candidate Result
87   1932        Herbert Hoover   loss
25   1860  John C. Breckinridge   loss
179  2020          Donald Trump   loss

In [ ]:
#slice
elections.loc[[87, 25, 179], "Popular vote":"%"]

     Popular vote Result          %
87       15761254   loss  39.830594
25         848019   loss  18.138998
179      74216154   loss  46.858542

In [ ]:
#single value
elections.loc[[87, 25, 179], "Popular vote"]

87     15761254
25       848019
179    74216154
Name: Popular vote, dtype: int64

In [ ]:
#all columns
elections.loc[:, ["Year", "Candidate", "Result"]]

     Year          Candidate Result
0    1824     Andrew Jackson   loss
1    1824  John Quincy Adams    win
2    1828     Andrew Jackson    win
3    1828  John Quincy Adams   loss
4    1832     Andrew Jackson    win
..    ...                ...    ...
177  2016         Jill Stein   loss
178  2020       Joseph Biden    win
179  2020       Donald Trump   loss
180  2020       Jo Jorgensen   loss
181  2020     Howard Hawkins   loss

[182 rows x 3 columns]

### iloc

Selects items by number

Arguments can be 
a list, a slice, a single value

In [ ]:
#Note the index
elections.iloc[[1, 2, 3, 4], 0:2]

   Year          Candidate
1  1824  John Quincy Adams
2  1828     Andrew Jackson
3  1828  John Quincy Adams
4  1832     Andrew Jackson

In [ ]:
elections.iloc[[1, 2, 3], [0, 1, 2]]

   Year          Candidate                  Party
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic
3  1828  John Quincy Adams    National Republican

In [ ]:
elections.iloc[[1, 2, 3, 4], 1]

1    John Quincy Adams
2       Andrew Jackson
3    John Quincy Adams
4       Andrew Jackson
Name: Candidate, dtype: object

Usually, loc is preffered

iloc can still be useful

If you have a DataFrame of movies earnings sorted by earnings, can use iloc to getthe median earnings for a given year (index to the middle)

### **[]** is context sensitive

In [ ]:
elections[3:7]

,Year,Candidate,Party,Popular vote,Result,%
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
5,1832,Henry Clay,National Republican,484205,loss,37.603628
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583

In [ ]:
elections[["Year", "Candidate", "Result"]].tail(5)

     Year       Candidate Result
177  2016      Jill Stein   loss
178  2020    Joseph Biden    win
179  2020    Donald Trump   loss
180  2020    Jo Jorgensen   loss
181  2020  Howard Hawkins   loss

In [ ]:
elections["Candidate"].tail(5)

177        Jill Stein
178      Joseph Biden
179      Donald Trump
180      Jo Jorgensen
181    Howard Hawkins
Name: Candidate, dtype: object

============================================
### Annoying Puzzle to Test Knowledge

In [ ]:
weird = pd.DataFrame({1:["topdog", "botdog"], "1":["topcat", "botcat"]})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

In [ ]:
weird[1]

0    topdog
1    botdog
Name: 1, dtype: object

In [ ]:
weird["1"]

0    topcat
1    botcat
Name: 1, dtype: object

In [ ]:
weird[1:]

        1       1
1  botdog  botcat

====================================================

### DataFrames, Series and Indices

In [ ]:
type(elections)

pandas.core.frame.DataFrame

In [ ]:
type(elections["Candidate"])

pandas.core.series.Series

Indices are in the left column | They can be non-unique

Column Labels must be Unique
### Using a column as a set of indices

In [ ]:
mottos = pd.read_csv("mottos.csv", index_col = "State")
mottos

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,—,English,1967
Arizona,Ditat Deus,God enriches,Latin,1863
Arkansas,Regnat populus,The people rule,Latin,1907
California,Eureka (Εὕρηκα),I have found it,Greek,1849
Colorado,Nil sine numine,Nothing without providence.,Latin,"November 6, 1861"
Connecticut,Qui transtulit sustinet,He who transplanted sustains,Latin,"October 9, 1662"
Delaware,Liberty and Independence,—,English,1847
Florida,In God We Trust,—,English,1868
Georgia,"Wisdom, Justice, Moderation",—,English,1798
Hawaii,Ua mau ke ea o ka ʻāina i ka pono,The life of the land is perpetuated in righteo...,Hawaiian,"July 31, 1843"
Idaho,Esto perpetua,Let it be perpetual,Latin,1890
Illinois,"State sovereignty, national union",—,English,1819
Indiana,The Crossroads of America,—,English,1937
Iowa,Our liberties we prize and our rights we will ...,—,English,1847
Kansas,Ad astra per aspera,To the stars through difficulties,Latin,1861
Kentucky,Deo gratiam habeamus,Let us be grateful to God,Latin,2002
Louisiana,"Union, justice, confidence",—,English,1902
Maine,Dirigo,I lead,Latin,1820
Maryland,"Fatti maschii, parole femine","Manly deeds, womanly words",Italian,1874
Massachusetts,Ense petit placidam sub libertate quietem,"By the sword we seek peace, but peace only und...",Latin,1775
Michigan,Si quaeris peninsulam amoenam circumspice,"If you seek a pleasant peninsula, look about you",Latin,"June 2, 1835"
Minnesota,L'étoile du Nord,The star of the North,French,1861
Mississippi,Virtute et armis,By valor and arms,Latin,"February 7, 1894"
Missouri,Salus populi suprema lex esto,Let the welfare of the people be the supreme law,Latin,"January 11, 1822"
Montana,Oro y plata,Gold and silver,Spanish,"February 9, 1865"
Nebraska,Equality before the law,—,English,1867
Nevada,All For Our Country,—,English,"February 24, 1866"
New Hampshire,Live Free or Die,—,English,1945
New Jersey,Liberty and prosperity,—,English,"March 26, 1928"
New Mexico,Crescit eundo,It grows as it goes,Latin,1887
New York,Excelsior,Ever upward,Latin,1778
North Carolina,Esse quam videri,"To be, rather than to seem",Latin,1893
North Dakota,\nSerit ut alteri saeclo prosit,One sows for the benefit of another age,Latin,"March 11, 2011"
Ohio,"With God, all things are possible",—,English,"October 1, 1959"
Oklahoma,Labor omnia vincit,Labor conquers all things,Latin,"March 10, 1893"
Oregon,Alis volat propriis,She flies with her own wings,Latin,1854
Pennsylvania,"Virtue, liberty, and independence",—,English,1875
Rhode Island,Hope,—,English,"May 4, 1664"
South Carolina,Dum spiro spero \nAnimis opibusque parati,"While I breathe, I hope \nReady in soul and re...",Latin,"May 22, 1777"
South Dakota,Under God the people rule,—,English,1885
Tennessee,Agriculture and Commerce,—,English,"May 24, 1802"
Texas,Friendship,—,English,1930
Utah,Industry,NaN,English,"May 3, 1896"
Vermont,Stella quarta decima fulgeat,May the fourteenth star shine bright,Latin,"April 10, 2015"
Virginia,Sic semper tyrannis,Thus always to tyrants,Latin,1776
Washington,Al-ki or Alki,By and by,Chinook Jargon,—
West Virginia,Montani semper liberi,Mountaineers are always free,Latin,"September 26, 1863"
Wisconsin,Forward,—,English,1851
Wyoming,Equal Rights,—,English,1893

In [ ]:
mottos["Alabama":"California"]

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,—,English,1967
Arizona,Ditat Deus,God enriches,Latin,1863
Arkansas,Regnat populus,The people rule,Latin,1907
California,Eureka (Εὕρηκα),I have found it,Greek,1849

In [ ]:
mottos.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='State')

In [ ]:
mottos.index.tolist()

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [ ]:
mottos.columns

Index(['Motto', 'Translation', 'Language', 'Date Adopted'], dtype='object')

## Conditional Selection

In [ ]:
elections[elections["Party"] == "Independent"]

     Year         Candidate        Party  Popular vote Result          %
121  1976   Eugene McCarthy  Independent        740460   loss   0.911649
130  1980  John B. Anderson  Independent       5719850   loss   6.631143
143  1992        Ross Perot  Independent      19743821   loss  18.956298
161  2004       Ralph Nader  Independent        465151   loss   0.380663
167  2008       Ralph Nader  Independent        739034   loss   0.563842
174  2016     Evan McMullin  Independent        732273   loss   0.539546

In [ ]:
elections["Party"] == "Independent"

0      False
1      False
2      False
3      False
4      False
       ...
177    False
178    False
179    False
180    False
181    False
Name: Party, Length: 182, dtype: bool

Candidates who have won elections with  a relatively small fraction of votes

In [ ]:
elections[
    (elections["Result"] == "win") & 
    (elections["%"] < 47)
    ]

,Year,Candidate,Party,Popular vote,Result,%
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
20,1856,James Buchanan,Democratic,1835140,win,45.306080
23,1860,Abraham Lincoln,Republican,1855993,win,39.699408
47,1892,Grover Cleveland,Democratic,5553898,win,46.121393
70,1912,Woodrow Wilson,Democratic,6296284,win,41.933422
117,1968,Richard Nixon,Republican,31783783,win,43.565246
140,1992,Bill Clinton,Democratic,44909806,win,43.118485
173,2016,Donald Trump,Republican,62984828,win,46.407862

### ====================================================

In [ ]:
(
    elections[(elections["Party"] == "Anti-Masonic")  | 
              (elections["Party"] == "American")      |
              (elections["Party"] == "Anti-Monopoly") |
              (elections["Party"] == "American Independent")]
)
#Note: The parentheses surrounding the code make it possible to break the code on to multiple lines for readability

,Year,Candidate,Party,Popular vote,Result,%
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583
22,1856,Millard Fillmore,American,873053,loss,21.554001
38,1884,Benjamin Butler,Anti-Monopoly,134294,loss,1.335838
115,1968,George Wallace,American Independent,9901118,loss,13.571218
119,1972,John G. Schmitz,American Independent,1100868,loss,1.421524
124,1976,Lester Maddox,American Independent,170274,loss,0.209640
126,1976,Thomas J. Anderson,American,158271,loss,0.194862

Pandas provides many alternatives

.isin

.str.startswith

.query

.group.filter

In [ ]:
a_parties = ["Anti-Masonic", "American", "Anti-Monopoly", "American Independent"]
elections[elections["Party"].isin(a_parties)]

,Year,Candidate,Party,Popular vote,Result,%
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583
22,1856,Millard Fillmore,American,873053,loss,21.554001
38,1884,Benjamin Butler,Anti-Monopoly,134294,loss,1.335838
115,1968,George Wallace,American Independent,9901118,loss,13.571218
119,1972,John G. Schmitz,American Independent,1100868,loss,1.421524
124,1976,Lester Maddox,American Independent,170274,loss,0.209640
126,1976,Thomas J. Anderson,American,158271,loss,0.194862

In [ ]:
elections[elections["Party"].str.startswith("Am")]

,Year,Candidate,Party,Popular vote,Result,%
22,1856,Millard Fillmore,American,873053,loss,21.554001
115,1968,George Wallace,American Independent,9901118,loss,13.571218
119,1972,John G. Schmitz,American Independent,1100868,loss,1.421524
124,1976,Lester Maddox,American Independent,170274,loss,0.209640
126,1976,Thomas J. Anderson,American,158271,loss,0.194862

In [ ]:
elections.query('Year >= 2000 and Result == "win"')

     Year       Candidate       Party  Popular vote Result          %
152  2000  George W. Bush  Republican      50456002    win  47.974666
157  2004  George W. Bush  Republican      62040610    win  50.771824
162  2008    Barack Obama  Democratic      69498516    win  53.023510
168  2012    Barack Obama  Democratic      65915795    win  51.258484
173  2016    Donald Trump  Republican      62984828    win  46.407862
178  2020    Joseph Biden  Democratic      81268924    win  51.311515

In [ ]:
parties = ["Republican", "Democratic"]
elections.query('Result == "win" and Party not in @parties')

,Year,Candidate,Party,Popular vote,Result,%
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
11,1840,William Henry Harrison,Whig,1275583,win,53.051213
16,1848,Zachary Taylor,Whig,1360235,win,47.309296
27,1864,Abraham Lincoln,National Union,2211317,win,54.951512

### ====================================================

### Handy Functions

In [ ]:
winners = elections.query('Result == "win"')["%"]
winners

1      42.789878
2      56.203927
4      54.574789
8      52.272472
11     53.051213
13     50.749477
16     47.309296
17     51.013168
20     45.306080
23     39.699408
27     54.951512
30     52.665305
32     55.928594
33     48.471624
36     48.369234
39     48.884933
43     47.858041
47     46.121393
53     51.213817
56     52.342640
60     56.562787
65     52.013300
70     41.933422
74     49.367987
79     60.574501
80     54.329113
84     58.368524
86     57.672125
91     60.978107
94     54.871202
97     53.773801
100    49.601536
106    55.325173
109    57.650654
111    50.082561
114    61.344703
117    43.565246
120    60.907806
123    50.271900
131    50.897944
133    59.023326
135    53.518845
140    43.118485
144    49.296938
152    47.974666
157    50.771824
162    53.023510
168    51.258484
173    46.407862
178    51.311515
Name: %, dtype: float64

In [ ]:
np.mean(winners)

51.711492943

In [ ]:
max(winners)

61.34470329

In [ ]:
def rmean(df):
    return("Mean:", np.mean(df), 
           "Maximum Value:", max(df),
          "Minimum Value:", min(df))

In [ ]:
rmean(winners)

('Mean:',
 51.711492943,
 'Maximum Value:',
 61.34470329,
 'Minimum Value:',
 39.69940846)

### ====================================================

### Utitlity Functions

size / shape

describe

sample

value_counts

uniques

sort_values

In [ ]:
elections.size

1092

In [ ]:
elections.shape

(182, 6)

In [ ]:
elections.describe()

              Year  Popular vote           %
count   182.000000  1.820000e+02  182.000000
mean   1934.087912  1.235364e+07   27.470350
std      57.048908  1.907715e+07   22.968034
min    1824.000000  1.007150e+05    0.098088
25%    1889.000000  3.876395e+05    1.219996
50%    1936.000000  1.709375e+06   37.677893
75%    1988.000000  1.897775e+07   48.354977
max    2020.000000  8.126892e+07   61.344703

In [ ]:
elections.sample(5)

     Year           Candidate        Party  Popular vote Result          %
141  1992            Bo Gritz     Populist        106152   loss   0.101918
19   1852      Winfield Scott         Whig       1386942   loss  44.056548
170  2012          Jill Stein        Green        469627   loss   0.365199
45   1888    Grover Cleveland   Democratic       5534488   loss  48.656799
68   1912  Theodore Roosevelt  Progressive       4122721   loss  27.457433

In [ ]:
#Chained method calls
elections.query('Year == 2000').sample(5, replace=True)

     Year     Candidate        Party  Popular vote Result          %
151  2000       Al Gore   Democratic      50999897   loss  48.491813
153  2000  Harry Browne  Libertarian        384431   loss   0.365525
151  2000       Al Gore   Democratic      50999897   loss  48.491813
154  2000  Pat Buchanan       Reform        448895   loss   0.426819
154  2000  Pat Buchanan       Reform        448895   loss   0.426819

### Unique Values and their frequency

In [ ]:
elections["Candidate"].value_counts()

Norman Thomas         5
Ralph Nader           4
Franklin Roosevelt    4
Eugene V. Debs        4
Andrew Jackson        3
                     ..
Silas C. Swallow      1
Alton B. Parker       1
John G. Woolley       1
Joshua Levering       1
Howard Hawkins        1
Name: Candidate, Length: 132, dtype: int64

In [ ]:
#gives a list
#value count is at-least 1
elections["Party"].unique()

array(['Democratic-Republican', 'Democratic', 'National Republican',
       'Anti-Masonic', 'Whig', 'Free Soil', 'Republican', 'American',
       'Constitutional Union', 'Southern Democratic',
       'Northern Democratic', 'National Union', 'Liberal Republican',
       'Greenback', 'Anti-Monopoly', 'Prohibition', 'Union Labor',
       'Populist', 'National Democratic', 'Socialist', 'Progressive',
       'Farmer–Labor', 'Communist', 'Union', 'Dixiecrat',
       "States' Rights", 'American Independent', 'Independent',
       'Libertarian', 'Citizens', 'New Alliance', 'Taxpayers',
       'Natural Law', 'Green', 'Reform', 'Constitution'], dtype=object)

In [ ]:
elections["Candidate"].sort_values()

75           Aaron S. Watkins
27            Abraham Lincoln
23            Abraham Lincoln
108           Adlai Stevenson
105           Adlai Stevenson
                ...
19             Winfield Scott
37     Winfield Scott Hancock
74             Woodrow Wilson
70             Woodrow Wilson
16             Zachary Taylor
Name: Candidate, Length: 182, dtype: object

### Sorting

In [ ]:
elections.sort_values("%", ascending=False)

     Year           Candidate         Party  Popular vote Result          %
114  1964      Lyndon Johnson    Democratic      43127041    win  61.344703
91   1936  Franklin Roosevelt    Democratic      27752648    win  60.978107
120  1972       Richard Nixon    Republican      47168710    win  60.907806
79   1920      Warren Harding    Republican      16144093    win  60.574501
133  1984       Ronald Reagan    Republican      54455472    win  59.023326
..    ...                 ...           ...           ...    ...        ...
165  2008    Cynthia McKinney         Green        161797   loss   0.123442
148  1996        John Hagelin   Natural Law        113670   loss   0.118219
160  2004    Michael Peroutka  Constitution        143630   loss   0.117542
141  1992            Bo Gritz      Populist        106152   loss   0.101918
156  2004          David Cobb         Green        119859   loss   0.098088

[182 rows x 6 columns]

SyntaxError: invalid syntax (496271628.py, line 1)